# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# Virtual environment
venv/
ENV/

# IDE
.idea/
.vscode/

# Node
node_modules/

# Environment variables
.env

# Static files
staticfiles/

# macOS
.DS_Store